<!doctype html>
<html>
<head>
    <title>{% block title %}My Web Application{% endblock %}</title>
</head>
<body>
   <div style="height:10%; background-color: #f8f9fa;">
      <h2 align="center">My Web Application</h2>
      <hr>
   </div>

   <div style="width:100%; display: flex;">
      <div style="width:20%; border-right-style:groove; padding: 10px; min-height: 400px;">
         <ul>
            <b>
               <li><a href="/home/">home</a></li>
               <li><a href="/register/">register</a></li>
               <li><a href="/login/">login</a></li>
            </b>
         </ul>
      </div>

      <div style="flex-grow: 1; padding: 20px;">
         {% block contents %}
         {% endblock %}
      </div>
   </div>

   <br><br><br>
   <hr>
   <div>
      <h4 align="right" style="padding-right: 20px;">All rights reserved</h4>
   </div>
</body>
</html>