{% extends "main_template.html" %}

{% block title %}Halaman Hello{% endblock %}

{% block content %}
    <h3>Hello World!!!</h3>
    <p>Hari ini adalah tanggal: <b>{{ today }}</b></p>
    
    <p>Kita sedang berada di:
    {% if today.day == 1 %}
        Awal bulan!
    {% elif today.day == 30 %}
        Akhir bulan!
    {% else %}
        Pertengahan bulan.
    {% endif %}
    </p>

    <h4>Daftar Hari:</h4>
    <ul>
        {% for day in days_of_week %}
            <li>{{ day }}</li>
        {% endfor %}
    </ul>
{% endblock %}