{% extends "base.html" %} {% load comments %}

{% block title %}My Hello Page{% endblock %}

{% block contents %}
<div style="margin: 20px;">
    <h3>Hello World!!!</h3>
    <p>Hari ini adalah tanggal: <b>{{ today }}</b></p>
    
    <p>Kita sedang berada di:
    {% if today.day == 1 %}
        Awal bulan!
    {% elif today.day == 30 %}
        Akhir bulan!
    {% else %}
        Pertengahan bulan.
    {% endif %}
    </p>

    <h4>Daftar Hari:</h4>
    <ul>
        {% for day in days_of_week %}
            <li>{{ day }}</li>
        {% endfor %}
    </ul>

    <hr>

    <h3>Our Dreamreal Entry:</h3>
    <p><strong>Name :</strong> {{ dreamreal.name }}</p>
    <p><strong>Website :</strong> {{ dreamreal.website }}</p>

    <hr>
    {% get_comment_count for dreamreal as comment_count %}
    <p><strong>Number of comments : </strong> {{ comment_count }}</p>

    <p><strong>List of comments :</strong></p>
    {% render_comment_list for dreamreal %}

    <br>
    {% render_comment_form for dreamreal %}
</div>
{% endblock %}